@import "tailwindcss";

@theme inline {
  --color-primary: #fffdfa;
  --color-secondary: #f0ece6;
  --color-accent: #021617;
}

@layer base {
  p {
    @apply text-sm/snug tracking-tight text-accent font-normal text-pretty;
  }
}