---

---

<section class="px-8 py-14" id="about-me">
  <figure class="pb-8">
    <img
      src="/src/assets/profile.webp"
      alt="Fotografia de la psicóloga Luana Cândido"
    />
  </figure>
  <h2 class="pb-8 text-5xl font-normal tracking-tight">Sobre mim</h2>
  <p>
    Sou psicóloga e especialista em neuropsicologia pelo Hospital das Clínicas
    da USP (HCFMUSP), com formação em reabilitação cognitiva.
  </p>
  <p class="pt-4">
    Trabalho investigando como o cérebro funciona na prática: atenção, memória,
    comportamento e tomada de decisão.
  </p>
  <p class="pt-4">
    Meu objetivo é transformar queixas em compreensão clara e direcionamento
    objetivo.
  </p>
  <p class="pt-4">
    Realizo avaliações completas para identificar padrões cognitivos e
    comportamentais, auxiliando no diagnóstico e nas decisões clínicas.
  </p>
  <p class="pt-4 pb-4">
    Na reabilitação cognitiva, atuo de forma direta no desenvolvimento de
    estratégias para melhorar o funcionamento no dia a dia, com foco em
    autonomia e funcionalidade real.
  </p>
  <a
    class="w-full px-6 py-3 text-sm text-accent text-center bg-secondary rounded-4xl inline-block"
    href="https://wa.me/573183004070?text=Hola%20quiero%20más%20información"
    rel="noopener noreferrer"
    target="_blank">AGENDE UMA CONSULTA</a
  >
</section>
