---
const { class: buttonClass } = Astro.props
---

<a
  class=`w-full md:w-fit px-6 py-3 text-sm ${buttonClass} text-center  rounded-4xl inline-block transition-all duration-300 hover:brightness-95`
  href="https://wa.me/5511942607634?text=Ol%C3%A1%20Luana%2C%20gostaria%20de%20agendar%20uma%20consulta."
  rel="noopener noreferrer"
  target="_blank">
  Agende uma consulta
</a>
