---

---

<footer>
  <h2>Luana Cândido | Neuropsicóloga</h2>
  <h3>LOCALIZAÇÃO</h3>
  <ul>
    <li>
      Faria Lima Rua Cláudio Soares, 72 (A 1 minuto a pé metrô Faria Lima)
    </li>
    <li>Ana Rosa Rua Vergueiro, 2.253 (Ao lado do metrô Ana Rosa)</li>
  </ul>
  <h3>CONTATO</h3>
  <p>luana.candido1219@gmail.com</p>
  <p>+55 1194260-7634</p>
</footer>
