---

---

<footer class="py-14 px-8 bg-secondary" id="contact">
  <h2 class="pb-8 text-center text-3xl">Luana Cândido | Neuropsicóloga</h2>
  <div
    class="grid grid-cols-1 justify-around md:grid-cols-2 xl:grid-cols-2 max-w-screen-2xl mx-auto gap-8 md:gap-16">
    <div class="w-full">
      <h3 class="pb-4 text-center text-sm">LOCALIZAÇÃO</h3>
      <ul class="mx-auto pl-5 list-disc list-outside md:max-w-[25ch]">
        <li class="pb-4 text-xl">
          Faria Lima <br />
          Rua Cláudio Soares, 72 (1 minuto a pé do metrô Faria Lima)
        </li>
        <li class="pb-4 text-xl">
          Ana Rosa <br />
          Rua Vergueiro, 2.253 (Ao lado do metrô Ana Rosa)
        </li>
      </ul>
    </div>
    <div class="w-full text-center">
      <h3 class="pb-4 text-sm">CONTATO</h3>

      <a
        href="https://wa.me/5511942607634"
        rel="noopener noreferrer"
        target="_blank"
        class="block py-4 text-xl underline underline-offset-8 hover:opacity-70 transition">
        WhatsApp
      </a>
      <a
        href="mailto:luana.candido1219@gmail.com"
        class="block py-4 text-xl underline underline-offset-8 hover:opacity-70 transition">
        luana.candido1219@gmail.com
      </a>

      <a
        href="tel:+5511942607634"
        class="block py-4 text-xl underline underline-offset-8 hover:opacity-70 transition">
        +55 11 94260-7634
      </a>
    </div>
  </div>
</footer>
