---

---

<footer class="py-14 px-8 bg-secondary" id="footer">
  <h2 class="pb-8 text-center text-3xl">Luana Cândido | Neuropsicóloga</h2>
  <h3 class="pb-4 text-center text-sm">LOCALIZAÇÃO</h3>
  <ul class="list-disc">
    <li class="pb-4 text-lg">
      Faria Lima Rua Cláudio Soares, 72 (A 1 minuto a pé metrô Faria Lima)
    </li>
    <li class="pb-4 text-lg">
      Ana Rosa Rua Vergueiro, 2.253 (Ao lado do metrô Ana Rosa)
    </li>
  </ul>
  <h3 class="pb-4 text-center text-sm">CONTATO</h3>
  <p class="text-lg">luana.candido1219@gmail.com</p>
  <p class="text-lg">+55 1194260-7634</p>
</footer>
