---

---

<footer class="py-14 px-8 bg-secondary dark:bg-dark-primary" id="contact">
  <h2 class="pb-8 text-center text-3xl">Luana Cândido | Neuropsicóloga</h2>
  <div
    class="grid grid-cols-1 justify-around md:grid-cols-2 xl:grid-cols-2 max-w-screen-2xl mx-auto gap-8 md:gap-16">
    <div class="w-full timeline-view animate-fade-in-right animate-range-entry">
      <h3 class="pb-4 text-center text-sm">LOCALIZAÇÃO</h3>
      <ul class="mx-auto pl-5 list-disc list-outside md:max-w-[25ch]">
        <li class="pb-4 text-xl">
          <a
            href="https://www.google.com/maps/place/R.+Cl%C3%A1udio+Soares,+72+-+Pinheiros,+S%C3%A3o+Paulo+-+SP,+05422-030,+Brasil/@-23.5682296,-46.6963185,17z/data=!3m1!4b1!4m6!3m5!1s0x94ce57a0a4f600bb:0x65fa01de00fe5914!8m2!3d-23.5682345!4d-46.6937436!16s%2Fg%2F11b8v83ktn?entry=ttu&g_ep=EgoyMDI2MDQwMS4wIKXMDSoASAFQAw%3D%3D"
            rel="noopener noreferrer"
            target="_blank"
            class="hover:opacity-70 transition-all duration-300 dark:hover:text-dark-accent hover:drop-shadow-[0_0_6px_rgba(188,208,111,0.4)]">
            Faria Lima <br />
            Rua Cláudio Soares, 72 (1 minuto a pé do metrô Faria Lima)
          </a>
        </li>
        <li class="pb-4 text-xl">
          <a
            href="https://www.google.com/maps/place/Rua+Vergueiro,+2+-+Vila+da+Sa%C3%BAde,+S%C3%A3o+Paulo+-+SP,+01504-000,+Brasil/@-23.5620163,-46.6414347,17z/data=!3m1!4b1!4m6!3m5!1s0x94ce59a456ccc577:0x43cc28969a131d98!8m2!3d-23.5620212!4d-46.6388598!16s%2Fg%2F11tt5nqz5r?entry=ttu&g_ep=EgoyMDI2MDQwMS4wIKXMDSoASAFQAw%3D%3D"
            rel="noopener noreferrer"
            target="_blank"
            class="hover:opacity-70 transition dark:hover:text-dark-accent hover:drop-shadow-[0_0_6px_rgba(188,208,111,0.4)]">
            Ana Rosa <br />
            Rua Vergueiro, 2.253 (Ao lado do metrô Ana Rosa)
          </a>
        </li>
      </ul>
    </div>
    <div
      class="w-full text-center timeline-view animate-fade-in-left animate-range-entry">
      <h3 class="pb-4 text-sm">CONTATO</h3>

      <a
        href="https://wa.me/5511942607634"
        rel="noopener noreferrer"
        target="_blank"
        class="block py-4 text-xl underline underline-offset-8 hover:opacity-70 transition-colors duration-300 dark:hover:text-dark-accent hover:drop-shadow-[0_0_6px_rgba(188,208,111,0.4)]">
        +55 11 94260-7634
      </a>
      <a
        href="mailto:luana.candido1219@gmail.com"
        class="block py-4 text-xl underline underline-offset-8 hover:opacity-70 transition dark:hover:text-dark-accent hover:drop-shadow-[0_0_6px_rgba(188,208,111,0.4)]">
        luana.candido1219@gmail.com
      </a>
    </div>
  </div>
</footer>
