---
import Header from '../components/Header.astro'
---

<section class="px-8 py-14 bg-secondary" id="home">
  <Header />
  <main>
    <h1 class="pb-14 text-tertiary text-4xl">
      AVALIAÇÃO NEUROPSICOLÓGICA E REABILITAÇÃO COGNITVA
    </h1>
    <figure class="relative">
      <img
        class="w-full object-cover object-right"
        src="/src/assets/couch.webp"
        alt="Imagem de um divã, simbolizando a psicologia"
      />
      <div class="absolute inset-0 bg-black/50"></div>
      <p
        class="absolute left-4 bottom-4 w-2/3 text-primary text-base/tight font-normal text-pretty">
        Avaliação e intervenção das funções cognitivas e comportamentais,
        auxiliando no diagnóstico, planejamento terapêutico e melhora da
        qualidade de vida dos pacientes e suas famílias.
      </p>
    </figure>
  </main>
</section>
