---

---

<h2>Serviços que ofereço</h2>
<h2>Avaliação neuropsicológica</h2>
<h3>Inicação</h3>
<p>
  Diagnóstico e acompanhamento de Transtorno do Déficit de Atenção e
  Hiperatividade (TDAH), Transtorno do Espectro Autista (TEA), demências,
  dificuldades escolares e transtornos psiquiátricos, entre outros.
</p>
<h3>O que é avaliado</h3>
<p>
  Memória, atenção, linguagem, funções executivas, aspectos
  emocionais/comportamentais e eficiência intelectual (QI) por meio de testes
  padronizados e entrevistas clínicas.
</p>
<h3>Precedimento</h3>
<ol>
  <li>Entrevista inicial (anamnese)</li>
  <li>Sessões de avaliação (4 a 10 encontros)</li>
  <li>Elaboração do laudo</li>
  <li>Devolutiva com orientações práticas</li>
</ol>
<h2>Reabilitação Cognitiva</h2>
<h3>Inicação</h3>
<p>
  Reabilitação de funções cognitivas como memória, atenção, linguagem e funções
  executivas, em casos de lesões cerebrais, demências, TDAH e TEA.
</p>
<h3>Objetivo</h3>
<p>
  Fortalecer habilidades cognitivas e desenvolver estratégias para melhorar o
  funcionamento no dia a dia.
</p>
<h3>Beneficios</h3>
<ul>
  <li>Sessões inividuais (online), em ciclos de 10 a 12 encontros</li>
  <li>Treino cognitivo com exercícios estruturados</li>
  <li>Estratégias práticas de compensação</li>
  <li>Psicoeducação para paciente e familia</li>
</ul>
