---

---

<section class="py-14 px-8" id="services">
  <h2 class="pb-4 text-5xl font-normal tracking-tight">Serviços que ofereço</h2>
  <h2 class="pb-4 text-2xl font-normal tracking-tight">
    Avaliação neuropsicológica
  </h2>
  <h3 class="pb-4 text-xl/tight font-bold tracking-tight">Inicação</h3>
  <p class="pb-4">
    Diagnóstico e acompanhamento de Transtorno do Déficit de Atenção e
    Hiperatividade (TDAH), Transtorno do Espectro Autista (TEA), demências,
    dificuldades escolares e transtornos psiquiátricos, entre outros.
  </p>
  <h3 class="pb-4 text-xl/tight font-bold tracking-tight">O que é avaliado</h3>
  <p class="pb-4">
    Memória, atenção, linguagem, funções executivas, aspectos
    emocionais/comportamentais e eficiência intelectual (QI) por meio de testes
    padronizados e entrevistas clínicas.
  </p>
  <h3 class="pb-4 text-xl/tight font-bold tracking-tight">Precedimento</h3>
  <ol class="list-decimal">
    <li>Entrevista inicial (anamnese)</li>
    <li>Sessões de avaliação (4 a 10 encontros)</li>
    <li>Elaboração do laudo</li>
    <li>Devolutiva com orientações práticas</li>
  </ol>
  <h2 class="py-4 text-2xl font-normal tracking-tight">
    Reabilitação Cognitiva
  </h2>
  <h3 class="pb-4 text-xl/tight font-bold tracking-tight">Inicação</h3>
  <p class="pb-4">
    Reabilitação de funções cognitivas como memória, atenção, linguagem e
    funções executivas, em casos de lesões cerebrais, demências, TDAH e TEA.
  </p>
  <h3 class="pb-4 text-xl/tight font-bold tracking-tight">Objetivo</h3>
  <p class="pb-4">
    Fortalecer habilidades cognitivas e desenvolver estratégias para melhorar o
    funcionamento no dia a dia.
  </p>
  <h3 class="pb-4 text-xl/tight font-bold tracking-tight">Beneficios</h3>
  <ul class="pb-4 list-disc">
    <li>Mais autonomia nas atividades diárias</li>
    <li>Compensação de dificuldades cognitivas</li>
    <li>Melhora da qualidade de vida</li>
  </ul>
  <h3 class="pb-4 text-xl/tight font-bold tracking-tight">Procedimento</h3>
  <ul class="list-disc">
    <li>Sessões inividuais (online), em ciclos de 10 a 12 encontros</li>
    <li>Treino cognitivo com exercícios estruturados</li>
    <li>Estratégias práticas de compensação</li>
    <li>Psicoeducação para paciente e familia</li>
  </ul>
</section>
