---
import '../styles/global.css'
import '@fontsource-variable/lexend/wght.css'
import Analytics from '@vercel/analytics/astro'
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/public/favicon.svg" />
    <meta name="generator" />
    <title>Luana Candido psicologa</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  body {
    font-family: 'Lexend Variable', sans-serif;
  }
</style>
