---
import '../styles/global.css'
import '@fontsource-variable/lexend/wght.css'
import Analytics from '@vercel/analytics/astro'
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="canonical" href="https://luacandido.com.br/" />

    <title>
      Luana Candido | Neuropsicóloga | Faria Lima, Vila Mariana — Agende uma
      consulta
    </title>

    <meta
      name="description"
      content="Avaliações neuropsicológicas e reabilitação cognitiva, em São Paulo. Melhore o funcionamento no dia a dia e a qualidade de vida com estratégias personalizadas."
    />

    <!-- Open Graph -->
    <meta
      property="og:title"
      content="Neuropsicóloga em Faria Lima e Vila Mariana | Luana Cândido"
    />
    <meta
      property="og:description"
      content="Avaliações neuropsicológicas e reabilitação cognitiva com atendimento personalizado."
    />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://luacandido.com.br/" />
    <meta property="og:image" content="https://luacandido.com.br/preview.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
  </head>
  <body>
    <slot />
    <Analytics />
  </body>
</html>

<style is:global>
  :root {
    color-scheme: light dark;
  }
  body {
    font-family: 'Lexend Variable', sans-serif;
  }
</style>
